1.4.7/bin/*
1.4.7/conf/*
1.4.7/docs/*
1.4.7/eclipse/*
1.4.7/jars/*
1.4.7/lib/*
1.4.7/logs/*
1.4.7/release/*
1.4.7/reobf/*
1.4.7/runtime/*
1.4.7/temp/*
1.4.7/*.bat
1.4.7/*.sh
1.4.7/src/minecraft/cpw/*
1.4.7/src/minecraft/ibxm/*
1.4.7/src/minecraft/net/*
1.4.7/src/minecraft/paulscode/*
1.4.7/src/minecraft/*.cfg
1.4.7/src/minecraft/*.properties
1.4.7/src/minecraft/*.png
1.4.7/src/minecraft/*.info
1.4.7/src/minecraft/*.java
1.5/bin/*
1.5/conf/*
1.5/docs/*
1.5/eclipse/*
1.5/jars/*
1.5/lib/*
1.5/logs/*
1.5/release/*
1.5/reobf/*
1.5/runtime/*
1.5/temp/*
1.5/*.bat
1.5/*.sh
1.5/src/minecraft/cpw/*
1.5/src/minecraft/ibxm/*
1.5/src/minecraft/net/*
1.5/src/minecraft/paulscode/*
1.5/src/minecraft/*.cfg
1.5/src/minecraft/*.properties
1.5/src/minecraft/*.png
1.5/src/minecraft/*.info
1.5/src/minecraft/*.java
